/* página de login */

@font-face {
  font-family: 'TT Commons Pro Expanded';
  src: url('./assets/fonts/tt_commons_pro_regular.otf')format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro Expanded';
  src: url('./assets/fonts/tt_commons_pro_expanded_bold.otf')format('otf');
  font-weight: 700;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-image: url('./assets/img/FondoMetalico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1c1c1c;
  }
  
  
  .login-container {
    display: flex;
    border-radius: 19px;
    border: 4px solid #f63535;
    overflow: hidden;
    width: 950px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .form-section {
    background-color: #a7a2a3;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center; 
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 0;
  }
  
  .logo {
    width: 129px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 7px;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 40px !important;
    transform: translateY(-50%);
    color: #333;
  }
  
  .input-field {
    width: 50%;
    height: 60px;            
    padding-left: 110px;     
    padding-right: 90px;
    font-size: 13.4px;
    font-weight: bold;
    border-radius: 25px;
    outline: none;
    font-family: 'TT Commons Pro Expanded' sans-serif;
  }

  .input-field:focus {
  border-color: #0d2d59;
  box-shadow: 0 0 5px rgba(13, 45, 89, 0.5);
}
  
  .login-button {
    width: 45%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #0d2d59;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;             
    margin: 18px 0 18px 29%;          
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #002244;
  }
  
  .image-section {
    width: 52%;
    overflow: hidden;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: 1;
  }
  
  .tires-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  