/* TiresForm.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Imagen de Fondo */
  .background {
    margin-left: 150px; 
    padding: 20px; 
    flex-grow: 1;
    margin-top: 60px;
    background-image: url('./assets/img/FondoMetalico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin-top: 35px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 530px;
  }

  /* Tres Columnas*/
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Tres columnas iguales*/
    gap: 80px;
    width: 85%;
    margin-left: 90px;
  }

  /* Estilos para alinear label e input */
.form-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 30px;
}

.form-group label {
  margin-bottom: 15px;
  margin-left: 20px;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  .tires-form input, 
  .tires-form select {
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 25px;
    border: 4px solid #000000 ;
    font-size: 14.5px;
    width: 85%;
  }

  /*Dropdown de Medidas*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
  }

  .small-label {
    font-size: 13.5px !important;
    text-shadow: none !important;
    margin-left: 0 !important; 
  }

  .custom-dropdown {
    border: 4px solid #000000;
    border-radius: 25px;
    width: 95%;
  }

  .custom-dropdown:hover, .condition-dropdown:hover {
    border-color: #555;
  }
  
  
  .dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-height: 20px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
  }

  .icon-container {
    width: 40px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .dropdown-body {
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 136px;
  }

  .dropdown-body, .body-condition-dropdown {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  
  
  .dropdown-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .dropdown-row label {
    margin-right: 3px;
    width: 64px;
  }
  
  .dropdown-row input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 15px;
  }

  /*Dropdown de la Condicion*/
  .condition-dropdown {
    border: 4px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    width: 95%;
  }

  .header-condition-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .body-condition-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .body-condition-dropdown div {
    padding: 10px;
    cursor: pointer;
  }

  .body-condition-dropdown div:hover {
    background-color: #f0f0f0;
  }

  /*Photo Input*/
  .photo-input-container {
    height: 260px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dashed #000000;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: border-color 0.3 ease;
  }

  .photo-input-container:hover {
    border-color: #555;
  }

  .photo-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
  }

  .photo-placeholder span {
    margin-bottom: 10px; /* Añade espacio entre el texto y el icono */
}


  .photo-input-hidden {
    display: none;
  }

  .photo-icon {
    font-size: 50px;
    color: #000000;
    position: relative;
  }

  .file-name {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #333;
  }

  /*Boton de Agregar*/
 .btn-bottom-right {
  position: absolute;
  right: 80px;
  bottom: 50px;
  padding: 10px 25px;
  font-size: 17.1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
 }

 btn-bottom-right:disabled {
  background-color: grey;
}

.btn-bottom-right:hover {
  background-color: #333; /* A slightly lighter black on hover */
}
